<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  *******************************************************************************
  ~  Copyright (c) 2023-24 Harman International
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  ~
  ~  SPDX-License-Identifier: Apache-2.0
  ~  *******************************************************************************
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!-- <url-pattern> specs : -->
    <!-- A string beginning with a / character and ending with a /* suffix is
        used for path mapping. -->
    <!-- A string beginning with a *. prefix is used as an extension mapping. -->
    <!-- A string containing only the / character indicates the "default" servlet
        of the application. -->
    <!-- In this case the servlet path is the request -->
    <!-- URI minus the context path and the path info is null. -->
    <!-- All other strings are used for exact matches only. -->


    <!-- IMPORTANT: keep display-name equal to WAR file (usually webapp project name)  -->
    <!-- config initializer ConfigBootstrapContextListener depends on this name as ServletContextName to build path to config files location -->
    <display-name>device-factory-management</display-name>
    <listener>
        <listener-class>org.eclipse.ecsp.config.BootstrapContextListener</listener-class>
    </listener>
    <!-- Spring Container config start -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>org.eclipse.ecsp.config</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SpringMVCServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
            <!-- No explicit configuration file reference here: everything is configured
                in the root container for simplicity -->
            <param-name>contextConfigLocation</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SpringMVCServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <!-- Spring MVC DispatcherServlet initialization end-->
</web-app>
